{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block css %}/Css/login.css{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#registerForm').validate({
                rules: {
                    username: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'E-mail już w użyciu'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
		<div class="container-fluid">
			<div class="row">

				<header class="col-12 text-center text-uppercase fw-bold pt-2" id="logo" id="logo" onclick="location.href='/';" >
					<p> Twój budżet </p>
				</header>

				<form class="col-12 text-center login-page-form" id="registerForm" method="post" action="/signup/create">

					<div class="login-page-field" id="username">
						<label class="field-label" >Nazwa użytkownika</label>
						<input type="text" name="username" autofocus value="{{ user.username }}" required">
					</div>

					<div class="login-page-field">
						<label class="field-label">Hasło</label>
						<input type="password" name="password" required >
					</div>

					<div class=" login-page-field">
						<label class="field-label">Adres e-mail</label>
						<input type="text" name="email" placeholder="adres@domena.pl" value="{{ user.email }}"  required>

					</div>

					<div class="mt-5">
						<button type="submit" class ="button"  id="loginButton">Utwórz konto</button>
						<input type="button" class ="button"  id="registerButton" onclick="location.href='/'" value="Powrót">
					</div>

				</form>
			</div>
		</div>
	</main>

{% endblock %}
