body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	background: #dedede;
	opacity: 70%;
}

#logo{
	color: #A7DBD8;
	font-size: 100px;
	letter-spacing: 6px;
	background-image:linear-gradient(rgba(190, 190, 190, 1),rgba(222, 222, 222, 0));
	cursor:pointer;
	text-shadow:
	2px 2px 0 #000,
	-1px 1px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000;
}

#forgot-password{
	font-size: 12px;
	margin: -15px 0 25px 130px;
}

#forgot-password > a{
	color: #0066ff;
	text-decoration:none;
}

#forgot-password > a:hover{
	color: #80b3ff;
}

#remember-me{
	position: relative;
	right:32px;
	top: -20px;
}

.login-page-field{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.login-page-field > input{
	height:25px;
	width:200px;
}

.login-page-password-field{
	position: relative;
	right: 12px;
}

.field-label{
	font-size: 20px;
	margin-bottom: 2px;
}

.fa-eye{
	width:20px;
	height:18px;
	cursor: pointer;
}
.button{
	height:45px;
	width:150px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 16px;
}

#added-succesfully{
	color: #207d20;
	font-size: 35px;
	min-height: 55px;
}

label.error{
	display:block;
}

#password{
	display: inline-block;
	width: 200px;
}

#loginButton{
	background-color: #207d20;
	transition: background-color, color 0.3s linear;
}
#loginButton:hover{
	background-color: #4bcc4b;
	color: #000;
}

#registerButton{
	background-color: #3daad9;
	transition: background-color, color 0.3s linear;
}

#registerButton:hover{
	background-color: #53cafc;
	color: #000;
}

@media (max-width: 575px){
	#logo{
		font-size:50px;
		line-height:120%;
	}
}

@media (max-width: 780px){
	#logo{
		font-size:60px;
	}
}


