body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	background: #dedede;
	opacity: 70%;
}

#logo{
	color: #A7DBD8;
	font-size: 100px;
	letter-spacing: 6px;
	background-image:linear-gradient(rgba(190, 190, 190, 1),rgba(222, 222, 222, 0));
	cursor:pointer;
	text-shadow:
	2px 2px 0 #000,
	-1px 1px 0 #000,
	-1px -1px 0 #000,
	1px -1px 0 #000;
}

.accordion-button{
	background-color: #A7DBD8;
	border-radius: 12px!important;
}

.accordion-single-option{
	text-align:left;
}

.accordion-item{
	margin: 3px 0 3px 0;
}

.card{
	text-align: left
}

.table td{
	text-align: left
}

.add-category-button{
	background-color: #F38630!important;
	border: none;
	border-radius: 10px;
	transition: background-color 0.2s linear;
}
.add-category-button:hover{
	background-color: #fca544!important;
}

#limit-checkbox-label:hover{
	cursor:pointer;
}

#modal-loading{
	display: none;
}

#modal-loading .modal-backdrop{
	background-color: transparent !important;
}

.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background:#47c9a2;
	border-bottom: none;
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}

.modal-confirm .modal-header-failed {
	background:  #cf1414;
	border-bottom: none;
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}

.modal-confirm .modal-header-ask {
	background:   #A7DBD8;
	border-bottom: none;
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px;
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #000;
	text-shadow: none;
	opacity: 0.5;
	border: none;
	background-color: none!important;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
.modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}


@media (max-width: 575px){
	#logo{
		font-size:50px;
		line-height:120%;
	}
}

@media (max-width: 780px){
	#logo{
		font-size:60px;
	}
}


