{% extends 'base.html' %}

{% block title %}Przypomnij hasło{% endblock %}

{% block css %}/Css/login.css{% endblock %}

{% block body %}

    <main>
		<div class="container-fluid">
			<div class="row">
			
				<header class="col-12 text-center text-uppercase fw-bold pt-2" id="logo" >
					<p> Twój budżet </p>
				</header>
				
				<form class="col-12 text-center login-page-form" id="registerForm" method="post" action="/password/request-reset">

					<div class=" login-page-field">
						<label class="field-label">Adres e-mail</label>
						<input type="text" name="email" placeholder="adres@domena.pl" autofocus required>

					</div>

					<div class="mt-5">
						<button type="submit" class ="button"  id="loginButton">Reset hasła</button>
					</div>		
				
				</form>	
			</div>
		</div>
	</main>

{% endblock %}
