{% extends 'base.html' %}

{% block title %}Przypomnij hasło{% endblock %}

{% block css %}/Css/login.css{% endblock %}

{% block body %}

<main>
    <div class="container-fluid">
        <div class="row">

            <header class="col-12 text-center text-uppercase fw-bold pt-2" id="logo" onclick="location.href='/';">
                <p> Twój budżet </p>
            </header>

            <div class="col-12 text-center mt-5">
                <h1 class="text-success">Link resetujący hasło jest nieprawidłowy lub upłynął limit czasu,</br> kliknij <a href="/password/forgot" class="text-decoration-none">tutaj</a> w celu wygenerowania nowego</h1>
                <div class="mt-4">
                    <a href="/" class="text-decoration-none"> Powrót do strony logowania</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
