{% extends 'base.html' %}

{% block title %}Aplikacja budżetowa{% endblock %}

{% block css %}/Css/home.css{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="w-100" id="logo" > Twój budżet </div>
            <div id="logged-user-data">
                {{current_user.username}}
            </div>
        </div>
    </div>

    <main>
        <div class="row">
            <div class="col-xl-2 col-md-4 col-6 p-1 mx-auto" id="menu">
                <menu class="list-group list-unstyled" id="menu-list">
                    <li onclick="location.href='/operations/addIncome'">Dodaj przychód</li>
                    <li onclick="location.href='/operations/addExpense'">Dodaj wydatek</li>
                    <li onclick="location.href='/balance'">Przeglądaj bilans</li>
                    <li onclick="location.href='#'">Ustawienia</li>
                    <li onclick="location.href='logout.php'">Wyloguj</li>
                </menu>
            </div>
        </div>
    </main>
</div>

{% endblock %}
