{% extends 'base.html' %}

{% block title %}Aplikacja budżetowa{% endblock %}

{% block css %}/Css/login.css{% endblock %}

{% block body %}

<main>
	<div class="container-fluid">
		<div class="row">
		
			<header class="col-12 text-center text-uppercase fw-bold pt-2" id="logo" >
				<p> Twój budżet </p>
			</header>
			
			<form class="col-12 text-center login-page-form" method="post">
				<div class=" login-page-field">
					<label class="field-label">Login</label>
					<input type="text" name="username" placeholder="e-mail" value="">
				</div>
				
				<div class="login-page-field">
					<label class="field-label">Hasło</label>
					<input type="password" name="password" placeholder="Hasło">
				</div>
				
				<div id="forgot-password">
					<a href="forgotpassword.html">Przypomnij hasło</a>
				</div>
				
				<div>
					<input type="submit" class ="button" id="loginButton" value="Zaloguj się" onclick="location.href='/main'">
				</div>
				
				<div>
					<p class="my-2">lub</p>
				</div>
				
				<div>
					<input type="button" class ="button" id="registerButton" value="Załóż konto" onclick="location.href='/signup/new'">
				</div>
			</form>	
		</div>
	</div>
</main>

{% endblock %}
