<nav class="navbar navbar-expand-sm bg-light col-lg-7  mx-auto mb-2" id="navbar-container">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-toggler">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="/operations/addIncome"> Dodaj przychód <i class="fa-sharp fa-solid fa-dollar-sign"></i></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/operations/addExpense"> Dodaj wydatek <i class="fa-solid fa-cart-shopping"></i></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/balance"> Przeglądaj bilans <i class="fa-solid fa-square-poll-horizontal"></i></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/profile/show"> Ustawienia <i class="fa-sharp fa-solid fa-gear"></i></a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="/logout"> Wyloguj <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>