{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block css %}/Css/login.css{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function() {

            var userId = '{{ user.id }}';

            /**
             * Validate the form
             */
            $('#formProfile').validate({
                rules: {
                    username: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/account/validate-email',
                            data: {
                                ignore_id: function() {
                                    return userId;
                                }
                            }
                        }
                    },
                    password: {
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'E-mail już w użyciu'
                    }
                }
            });


            /**
              * Show password toggle button
              */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });
    </script>

{% endblock %}

{% block body %}

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}


<main>
    <div class="container-fluid">
        <div class="row">

            <header class="col-12 text-center text-uppercase fw-bold pt-2" id="logo" onclick="location.href='/';">
                <p> Twój budżet </p>
            </header>

            <form class="col-12 text-center login-page-form" id="registerForm" method="post" action="/profile/update">

                <div class="login-page-field" id="username">
                    <label class="field-label" >Nazwa użytkownika</label>
                    <input type="text" name="username" autofocus value="{{ user.username }}" required">
                </div>

                <div class=" login-page-field">
                    <label class="field-label">Adres e-mail</label>
                    <input type="text" name="email" placeholder="adres@domena.pl" value="{{ user.email }}"  required>
                </div>

                <div class="login-page-field">
                    <label class="field-label">Hasło</label>
                    <input type="password" name="password">
                    <span id="helpBlock" class="help-block" aria-describedby="helpBlock">Zostaw puste, aby zachować aktualne hasło </span>
                </div>

                <div class="mt-5">
                    <button type="submit" class ="button"  id="loginButton"> Zapisz</button>
                    <input type="button" class ="button"  id="registerButton" onclick="location.href='/home'" value="Powrót">
                </div>

            </form>
        </div>
    </div>
</main>

{% endblock %}
