{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block css %}/Css/balance.css{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block body %}

<header id="logged-user-header">
    <div id="logo" class="w-25" onclick="location.href='/home';"> Twój budżet </div>
    <div id="logged-user-data">
        {{current_user.username}}
    </div>
</header>



<div class="container-fluid">
    <div class="row text-center">
        {% include 'navbar.html' %}
    </div>
    <main>
        <div class="row">
            <div class="col-12">
                <form class="search-form" method="post" action="/balance">
                    <input type="text" placeholder="From Date" id="post_at" name="search[post_at]" class="ms-4 input-control" value ="{{post_at}}" />
                    <input type="text" placeholder="To Date" id="post_at_to_date" name="search[post_at_to_date]" class="input-control" value="{{post_at_to_date}}"  />
                    <input class="btn btn-primary date-button" type="submit" name="go" value="Pokaż">
                    <input class="btn btn-primary date-button" type="submit" name="last_month" value="Ostatni miesiąc">
                    <button class="btn btn-secondary" type="button" id="back-button" onclick="location.href='/home'">Powrót</button>
                </form>
            </div>
        </div>

        <div class="row mx-2">
            <div class="col-12 col-sm-4 col-md-6 col-lg-4 mt-2">
                <table class="table table-striped">
                    <caption>
                        Przychody
                    </caption>
                    <thead class="table-dark">
                        <tr>
                            <th class="w-auto" scope="col">#</th>
                            <th scope="col">Kategoria</th>
                            <th scope="col">Kwota [zł]</th>
                        </tr>
                    </thead>

                    <tbody id="incomes-tbody">
                        <tr id="incomes-sum">
                            <th></th>
                            <td scope="row">Suma przychodów:</td>
                            <td id="incomes_sum-amount"> {{ db_data.incomes.incomes_sum.amount | number_format(2) }} zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-8 d-flex align-middle ">
                <div id="piechart_3d_incomes" class="m-auto w-100 h-100"></div>
            </div>
        </div>

        <div class="row mx-2">
            <div class="col-12 col-sm-4 col-md-6 col-lg-4">
                <table class="table table-striped">
                    <caption>
                        Wydatki
                    </caption>
                    <thead class="table-dark">
                        <tr>
                            <th class="w-auto" scope="col">#</th>
                            <th scope="col">Kategoria</th>
                            <th scope="col">Kwota [zł]</th>
                        </tr>
                    </thead>

                    <tbody id="expenses-tbody">
                        <tr id="expenses-sum">
                            <th></th>
                            <td scope="row">Suma wydatków: </td>
                            <td id="expenses_sum-amount">{{ db_data.expenses.expenses_sum.amount | number_format(2) }} zł</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-8 d-flex align-middle ">
                <div id="piechart_3d_expenses" class="m-auto w-100 h-100"></div>
            </div>
        </div>
    </main>
</div>

{% endblock %}


{% block footer %}
<script src="/js/api.js"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

<script>
    //get data from PHP and encode it to json
    jsonDbData = {{db_data|json_encode|raw}};
    google.charts.load("current", {packages:["corechart"]});
    $(document).ready(function () {
        google.charts.setOnLoadCallback(createIncomesTable);
        google.charts.setOnLoadCallback(createExpensesTable);
    });

    $.datepicker.setDefaults({
    showOn: "button",
    buttonImage: "img/datepicker.png",
    buttonText: "Date Picker",
    buttonImageOnly: true,
    dateFormat: 'yy-mm-dd',
    yearRange: '2000:c'
    });

    $(function() {
        $("#post_at").datepicker();
        $("#post_at_to_date").datepicker();
    });
</script>

<script>

async function createIncomesTable()
{
    let incomesData = new google.visualization.DataTable();
    incomesData.addColumn('string', 'Kategoria');
    incomesData.addColumn('number', 'amount');

    url = "/api/getIncomesCategories";
    result = await getDataFromApi(url);

    if (result['status'] == 'success'){
        let select = document.getElementById("incomes-tbody");

        for (let key in result.data){
            let name = result.data[key].name;
            select.insertBefore(rowMaker(name), select.lastElementChild);

            let amount = 0;
            if (jsonDbData.incomes[name]){
                amount = jsonDbData.incomes[name].amount.toFixed(2);
                document.getElementById(name + '-amount').textContent = amount;
                incomesData.addRow([name, Number(amount)]);
            }
        }
    drawIncomesChart(incomesData);
    }
 }


async function createExpensesTable()
{
    let expensesData = new google.visualization.DataTable();
    expensesData.addColumn('string', 'Kategoria');
    expensesData.addColumn('number', 'amount');

    url = "/api/getExpensesCategories";
    result = await getDataFromApi(url);

    if (result['status'] == 'success'){
        let select = document.getElementById("expenses-tbody");

        for (let key in result.data){
            let name = result.data[key].name;
            select.insertBefore(rowMaker(name), select.lastElementChild);
            let amount = 0;
            if (jsonDbData.expenses[name]){
                amount = jsonDbData.expenses[name].amount.toFixed(2);
                document.getElementById(name + '-amount').textContent = amount;
                expensesData.addRow([name, Number(amount)]);
            }
        }
    }
    drawExpensesChart(expensesData);
}

function rowMaker(name){
    let tr = document.createElement("tr");
    let tdEmpty = document.createElement("td");
    let tdCategory = document.createElement("td");
    let tdAmount = document.createElement("td");

    tr.append(tdEmpty);
    tdCategory.setAttribute('scope','row');
    tdCategory.textContent = name;
    tr.append(tdCategory);

    tdAmount.textContent = '0.00';
    tdAmount.id = name + '-amount';
    tr.append(tdAmount);

    return tr;
}
</script>

<script>

function drawIncomesChart(data) {
    let options = {
        width: '100%',
        height: '100%',
        pieHole: 0.4,
        backgroundColor: 'none',
        sliceVisibilityThreshold:0
    };

    let chart = new google.visualization.PieChart(document.getElementById('piechart_3d_incomes'));
    chart.draw(data, options);

    if (data.getNumberOfRows() == 0) {
        $("#piechart_3d_incomes").find("svg text").text("Brak przychodów w danym okresie");
    }
}

function drawExpensesChart(data) {
    let options = {
        width: 'auto',
        height: 'auto',
        pieHole: 0.4,
        backgroundColor: 'none',
        sliceVisibilityThreshold:0
    };

    let chart = new google.visualization.PieChart(document.getElementById('piechart_3d_expenses'));
    chart.draw(data, options);
    if (data.getNumberOfRows() == 0) {
        $("#piechart_3d_expenses").find("svg text").text("Brak wydatków w danym okresie");
    }
}
</script>

{% endblock %}