{% extends "base.html" %}

{% block title %}Bilans{% endblock %}

{% block css %}/Css/balance.css{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block body %}

<header id="logged-user-header">
    <div id="logo" class="w-25" onclick="location.href='/home';"> Twój budżet </div>
    <div id="logged-user-data">
        {{current_user.username}}
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form class="search-form" method="post" action="/balance">
                    <input type="text" placeholder="From Date" id="post_at" name="search[post_at]" class="ms-4 input-control" value ="{{post_at}}" />
                    <input type="text" placeholder="To Date" id="post_at_to_date" name="search[post_at_to_date]" class="input-control" value="{{post_at_to_date}}"  />
                    <input class="btn btn-primary date-button" type="submit" name="go" value="Pokaż">
                    <input class="btn btn-primary date-button" type="submit" name="last_month" value="Ostatni miesiąc">
                    <button class="btn btn-secondary" type="button" id="back-button" onclick="location.href='/home'">Powrót</button>
                </form>
            </div>
        </div>

        <div class="row mx-2">
            <table class="col-8 col-md-6 col-lg-3 operations-table" id="incomes">
                <tr>
                    <th colspan="2">Przychody</th>
                </tr>
                <tr>
                    <td> Wynagrodzenie</td>
                    <td> {{db_data.Salary.amount|number_format(2, ',')}} zł</td>
                </tr>
                <tr>
                    <td>Odsetki bankowe</td>
                    <td>{{db_data.Interest.amount|number_format(2, ',')}} zł</td>
                </tr>
                <tr>
                    <td>Sprzedaż na allegro</td>
                    <td>{{db_data.Allegro.amount|number_format(2, ',')}} zł</td>
                </tr>
                <tr>
                    <td>Inne</td>
                    <td>{{db_data.Another.amount|number_format(2, ',')}} zł</td>
                </tr>
                <tr>
                    <td class="total-amount">Suma przychodów:</td>
                    <td>{{db_data.incomes_sum.amount|number_format(2, ',')}} zł</td>
                </tr>
            </table>

            <div class="col-9">
                <div id="piechart_3d_incomes" class="pt-5" style="width: 500px; height: 300px;"></div>
            </div>
        </div>

        <div class="row mx-2">
                <table class="col-10 col-md-6 col-lg-3 operations-table" id="expenses">
                    <tr>
                        <th colspan="2">Wydatki</th>
                    </tr>
                    <tr>
                        <td>Jedzenie</td>
                        <td>{{db_data.Food.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Mieszkanie</td>
                        <td>{{db_data.Apartments.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Opieka zdrowotna</td>
                        <td>{{db_data.Health.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Ubranie</td>
                        <td>{{db_data.Clothes.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Higiena</td>
                        <td>{{db_data.Hygiene.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Dzieci</td>
                        <td>{{db_data.Kids.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Rozrywka</td>
                        <td>{{db_data.Recreation.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Wycieczki</td>
                        <td>{{db_data.Trip.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Książki</td>
                        <td>{{db_data.Books.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Oszczędności</td>
                        <td>{{db_data.Savings.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Na złotą jesień, czyli emeryturę</td>
                        <td>{{db_data["For Retirement"].amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Spłata długów</td>
                        <td>{{db_data["Debt Repayment"].amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Darowizna</td>
                        <td>{{db_data.Gift.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td>Inne wydatki</td>
                        <td>{{db_data.Another.amount|number_format(2, ',')}} zł</td>
                    </tr>
                    <tr>
                        <td class="total-amount">Suma wydatków: </td>
                        <td>{{db_data.expenses_sum.amount|number_format(2, ',')}} zł</td>
                    </tr>

                </table>


            <div class="col-9">
                <div id="piechart_3d_expenses" class="pt-3" style="width: 500px; height: 300px;"></div>
            </div>
        </div>
    </div>
</main>

{% endblock %}


{% block footer %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

<script>
    $.datepicker.setDefaults({
    showOn: "button",
    buttonImage: "img/datepicker.png",
    buttonText: "Date Picker",
    buttonImageOnly: true,
    dateFormat: 'yy-mm-dd',
    yearRange: '2000:c'

    });
    $(function() {
        $("#post_at").datepicker();
        $("#post_at_to_date").datepicker();
    });
</script>
<script>

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawIncomesChart);
	google.charts.setOnLoadCallback(drawExpensesChart);
	function drawIncomesChart() {
		let data = google.visualization.arrayToDataTable([
			['Category', 'Amount'],
			['Wynagrodzenie',   {{db_data.Salary.amount|default("0")}}  ],
			['Odsetki bankowe',    {{db_data.Interest.amount|default("0")}} ],
			['Sprzedaż na allegro', {{db_data.Allegro.amount|default("0")}} ],
			['Inne', {{db_data.Another.amount|default("0")}}]
		]);

        console.log(data);

		let options = {
			title: 'Przychody',
			is3D: true,
			backgroundColor: 'none',
			sliceVisibilityThreshold:0,
            height: 350,
            width: 350
		};

		let chart = new google.visualization.PieChart(document.getElementById('piechart_3d_incomes'));
		chart.draw(data, options);
        chart.setSelection([{'column': 1}]);
	  }

	function drawExpensesChart() {
		let data = google.visualization.arrayToDataTable([
			['Category', 'Amount'],
			['Jedzenie', {{db_data.Food.amount|default("0")}}],
			['Mieszkanie', {{db_data.Apartments.amount|default("0")}}],
			['Opieka zdrowotna', {{db_data.Health.amount|default("0")}}],
			['Ubranie', {{db_data.Clothes.amount|default("0")}}],
			['Higiena', {{db_data.Hygiene.amount|default("0")}}],
			['Dzieci', {{db_data.Kids.amount|default("0")}}],
			['Rozrywka	', {{db_data.Recreation.amount|default("0")}}],
			['Wycieczka	', {{db_data.Trip.amount|default("0")}}],
			['Książki	', {{db_data.Books.amount|default("0")}}],
			['Oszczędności	', {{db_data.Savings.amount|default("0")}}],
			['Na złotą jesień, czyli emeryturę', {{db_data["For Retirement"].amount|default("0")}}],
			['Spłata długów', {{db_data["Debt Repayment"].amount|default("0")}}],
			['Darowizna', {{db_data.Gift.amount|default("0")}}],
			['Inne wydatki', {{db_data.Another.amount|default("0")}}]
		]);

		let options = {
			title: 'Wydatki',
			is3D: true,
			backgroundColor: 'none',
			sliceVisibilityThreshold:0,
            height: 500,
            width: 500
		};

		let chart = new google.visualization.PieChart(document.getElementById('piechart_3d_expenses'));
		chart.draw(data, options);
	}

    </script>
{% endblock %}